In [1]:
import os
from bs4 import BeautifulSoup 
from splinter import Browser
import requests
import pandas as pd

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Scrape from NASA Mars News Site for latest News Title and Paragraph Text.

url1 = 'https://mars.nasa.gov/news/'
browser.visit(url1)

In [5]:
html1 = browser.html
soup = BeautifulSoup(html1, 'html.parser')
mars_news = soup.find_all('li', class_="slide")[0]

news_title = mars_news.find(class_="content_title").text
news_p = mars_news.find(class_="article_teaser_body").text
    
#Latest News Title and Paragraph Text would be the first item on the list (or index [0]).

print(news_title)
print(news_p)

Hear Audio From NASA's Perseverance As It Travels Through Deep Space
The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight.

In [6]:
# Scrape from JPL Featured Space Image for current featured Mars image.

url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [7]:
html2 = browser.html
soup = BeautifulSoup(html2, 'html.parser')
mars_image = soup.find_all(class_="img")[0]
image_url = mars_image.img["src"]
featured_image_url = ["http://www.jpl.nasa.gov/"+image_url]
print(featured_image_url)

['http://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA24247-640x350.jpg']

In [8]:
# Scrape table from Mars Facts Webpage.
url3 = "https://space-facts.com/mars/"

In [9]:
facts_table = pd.read_html(url3)
facts_table

type(facts_table)

list

In [10]:
mars_facts_df = facts_table[0]

mars_facts_df.columns = ["Description", "Mars"]

mars_facts_df

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
mars_html_table = mars_facts_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [185]:
# Scrape images of Mars hemispheres from USGS Webpage.
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)
html4 = browser.html
soup = BeautifulSoup(html4, 'html.parser')


img_urls = []
titles = []

#for hemisphere in mars_hemispheres:

mars_hemispheres = soup.find_all(class_="collapsible results")
links = browser.find_by_tag('h3')
links[0].click()

for i in range(1, 4):
    
    browser.find_by_tag('h3')[i].click()
    title = soup.find('h2', class_="title")
    titles.append(title)
    for link in soup.find_all('a', class_="downloads"):
        img_url = link.get('href')
        img_urls.append(img_url)
    browser.back()

img_urls

[]

In [173]:
#hemisphere_image_urls = dict(zip(titles, img_urls))